@tailwind base;
@tailwind components;
@tailwind utilities;



/* For responsive design. this overrides tailwind. */
.hero-title {
  font-size: clamp(3rem, 8vw, 9rem);
}

.section-heading {
  font-size: clamp(2.5rem, 6vw, 7rem);
}

.body-text {
  font-size: clamp(1rem, 2.5vw, 1.25rem);
}

@font-face {
  font-family: 'Monument Extended';
  src: url('/src/assets/fonts/MonumentExtended-Regular.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Monument Extended';
  src: url('/src/assets/fonts/MonumentExtended-Bold.otf') format('opentype');
  font-weight: 700; 
  font-style: normal;
}


@font-face {
  font-family: 'Hyperion Sunset';
  src: url('/src/assets/fonts/hyperion.ttf');
  font-weight: 400;
  font-style: normal;
}
